.banner {
  background-image: url(../assets/banner.jpg);
  height: 90vh;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.bannerTitle {
  color: #fff;
  font-size: 55px;
  line-height: inherit;
}

.bannerDsc {
  color: #fff;
  font-size: 25px;
}

.inceleBtn {
  background-color: #1c69d4;
  color: #fff;
  width: 100%;
  max-width: 250px;
  height: 60px;
  border: none;
  margin-top: 1rem;
}

.inceleBtn:hover {
  background-color: #0056cc;
}
